VITE_REGISTRATION_SITE_URL=https://inscription.youthglobalclub.com/
VITE_CONTACT_EMAIL=alphamun@youthglobalclub.com
VITE_STAFF_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLScH2jcymagfW1dYNYi83K5RaKmUtsBTVpvejbeVgcehAsQkMQ/viewform?usp=header

